body {
	background-color: lightgray;
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

.auctions {
	display: flex;
	flex-direction: column;
	gap: 2em;
	margin: 1em;
}

.auction {
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: .3em;
	padding-bottom: .3em;
}

.auction > div {
	margin: 0 .3em;
}

.otodomAuctionLink {
	height: 10em;
	margin-bottom: .1em;
	overflow: clip;
}

.otodomAuctionLink img.thumbnail {
	width: 100%;
}

.header {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.title {
	color: #777;
}

.priceChange {
	color: darkgreen;
	font-size: .8em;
	line-height: 1.4em;
}

.priceChange[data-price-drop] {
	color: crimson;
}

.priceChange[data-price-drop]::before {
	content: '⬇';
	font-size: .9em;
	margin-right: .2em;
}

.priceChange[data-price-rise]::before {
	content: '⬆';
	font-size: .9em;
	margin-right: .2em;
}

.street {
	color: #999;
}

.details {
	color: #222;
	display: flex;
	flex-direction: row;
	font-size: 1.1em;
}

.details > div {
	flex-grow: 1;
}

.details > div:last-child,
.pricem2 {
	text-align: right;
}

.snapshot {
	color: #777;
	display: grid;
	font-size: .9em;
	grid-template-columns: 50% 50%;
}

summary.snapshot::-webkit-details-marker {
	display: none;
}

.snapshots > div.snapshot {
	margin-top: .3em;
}

.history {
	--snapshots-count: 1;
	--snapshots-height: calc(var(--snapshots-count) * (1lh + .3em));
}

details {
	margin-bottom: .2em;
}

details::after {
	clip-path: inset(50% 0 0 0);
	color: #999;
	content: '▿';
	display: block;
	font-size: 1.3em;
	line-height: .7em;
	overflow: hidden;
	text-align: center;
	margin-bottom: -.8em;
	pointer-events: none;
	position: relative;
	top: -.8em;
}

details[open]::after {
	rotate: 180deg;
	top: -.6em;
}

details + .snapshots {
	max-height: 0;
	overflow: hidden;
	transition: all 400ms ease-in;
}

details[open] + .snapshots {
	max-height: var(--snapshots-height);
}